
#main{
background-color:#fdfce9;
   min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical center */
    align-items: center;     /* horizontal center */
}p{
  margin:0;
}
#main h1 {
    font-size: 5rem;
    max-width: 800px;
}.hero-title {
    font-size: clamp(2.5rem, 8vw, 5rem);
    font-weight: 700;
    line-height: 1.1;
}.hero-text {
    margin-top: 30px; /* adjust 20px–80px as needed */
}
body{
background-color:#fdfce9;
   min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical center */
    align-items: center;     /* horizontal center */
}
.login-box{
    align-items: center;
    width:420px;
    background-color: purple;
    color: white;
}.login-box .input-box{
margin:0px;
width:100%;
height:50px;
border-radius: 40px;
background-color:transparent;

}.login-page{
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical center */
    align-items: center; 
}.title{
    font-weight: 700;
    line-height: 1.1;
}a{
    color: rgb(255 255 255);
    text-decoration: none;
}::placeholder {
  color:white; /* Replace with your desired color */
  opacity: 1; /* Ensures Firefox displays the color properly */
}.login-btn{
    margin:0px;
width:100%;
height:50px;
border-radius: 40px;
background-color:white;
color:black;
font-weight: bold;
}.signup-btn{
    margin:0px;
width:100%;
height:50px;
border-radius: 40px;
background-color:white;
color:black;
font-weight: bold;
}.signup-page{
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical center */
    align-items: center; 
}