
#main{
background-color:#fdfce9;
   min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical center */
    align-items: center;     /* horizontal center */
}p{
  margin:0;
}
#main h1 {
    font-size: 5rem;
    max-width: 800px;
}.hero-title {
    font-size: clamp(2.5rem, 8vw, 5rem);
    font-weight: 700;
    line-height: 1.1;
}.hero-text {
    margin-top: 30px; /* adjust 20px–80px as needed */
}